@mixin centerRow {
  display: flex;
  flex-direction: row;
  align-content: center;
  align-items: center;
  justify-content: center;
}

.rippleContainer {
  overflow: hidden;
  position: relative;
  padding: 5px;
  @include centerRow();

  .ripple {
    pointer-events: none;
    background-color: #e5b63a;
    position: absolute;
    z-index: 1;
    border-radius: 50%;
    transform: scale(0);

    will-change: transform;
  }
  .ripple-active {
    transform: scale(1.4);
    transition: transform 800ms, opacity 800ms;
    opacity: 0;
  }

  .ripple-start {
    transform: scale(2);
  }
}
